@font-face {
  font-family: Poppins;
  src: url(./Poppins-Regular.ttf);
}
/* css */
body {
  margin: 0;
  font-family: Poppins;
}

nav {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
nav ul svg {
  color: #064D46;
}
nav ul li {
  width: 33%;
}
@media only Screen and (max-width: 1399px) {
  nav ul li {
    font-size: smaller;
  }
}
nav ul li:nth-child(1) {
  padding-left: 2%;
  text-align: left;
}
@media only Screen and (max-width: 575px) {
  nav ul li:nth-child(1) {
    font-size: x-small;
  }
}
nav ul li:nth-child(1) a {
  color: #060606;
}
nav ul li:nth-child(1) a span {
  color: #FEB221;
}
nav ul li:nth-child(1):hover a,
nav ul li:nth-child(1):focus a,
nav ul li:nth-child(1):hover a span,
nav ul li:nth-child(1):focus a span {
  color: #064D46;
}
nav ul li:nth-child(1):hover svg,
nav ul li:nth-child(1):focus svg {
  color: #FEB221;
}
nav ul li:nth-child(2) a {
  color: white;
}
@media only Screen and (max-width: 1399px) {
  nav ul li:nth-child(2) a {
    color: #060606;
  }
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:focus {
  color: #FEB221;
}

#header {
  padding-bottom: calc(10% + 300px);
  position: relative;
}
#header::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 20%;
  left: 25vw;
  background-color: #064D46;
  background-image: url(../images/div.png);
  background-repeat: repeat-y;
  background-position: 93% 100%;
  z-index: -1;
}
@media only Screen and (max-width: 1399px) {
  #header::after {
    left: 67vw;
  }
}
#header::before {
  position: absolute;
  content: "";
  top: 108px;
  right: 0;
  bottom: 0;
  left: calc(25vw - 150px);
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  z-index: 0;
}
@media only Screen and (max-width: 1399px) {
  #header::before {
    top: 70px;
    left: calc(67vw - 85px);
    background-size: 150px;
  }
}
#header svg {
  position: absolute;
  top: 60%;
  right: 8%;
  height: 100px;
  width: 100px;
}
@media only Screen and (max-width: 575px) {
  #header svg {
    height: 50px;
    width: 50px;
  }
}
#header img {
  width: 632px;
  height: 100%;
  margin-top: 356px;
  margin-left: calc(25vw - 158px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media only Screen and (max-width: 1399px) {
  #header img {
    width: 66vw;
    margin-top: 215px;
    margin-left: calc(33vw - 158px);
  }
}
@media only Screen and (max-width: 575px) {
  #header img {
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
  }
}
#header p {
  position: absolute;
  width: 632px;
  top: 556px;
  left: calc(25vw - 118px);
  font-weight: 100;
  box-shadow: -2px 2px 8px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media only Screen and (max-width: 1399px) {
  #header p {
    width: 66vw;
    top: calc(20vw + 215px);
    left: calc(33vw - 118px);
  }
}
@media only Screen and (max-width: 575px) {
  #header p {
    font-size: smaller;
    width: 91.5vw;
    left: 3%;
    top: calc(28vw + 185px);
  }
}
#header p .btn {
  font-size: smaller;
}

/*# sourceMappingURL=app.css.map */
