$c1: #064d46;
$c2: #060606;
$c3: white;
$c4: #f7ac23;
$c5: rgba($c3, 0.5);
$c6: #535964;
$c7: rgba(white,0.6);

@font-face {
  font-family: Poppins;
  src: url(./Poppins-Regular.ttf);
  font-display: swap;
}

@import "template/head";
@import "template/main";