$c1: #064D46;
$c2: #060606;
$c3: white;
$c4: #ffc107;
$c5 :rgba($c3, 0.5);
$c6: #9BA1AC;

@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
  }

  @import "template/head";
  @import "template/main";