@import "variables";

/* css */

body {
    margin: 0;
    font-family: Poppins;
}

nav {
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    z-index: 999;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-around;
        @media only Screen and (max-width: 1199px) {
            font-size: smaller;
        }
        svg {
            color: $c1;
        }
        li {
            width: 33%;
        }
        li:nth-child(1) {
            text-align: left;
            padding-left: 2%;
        }
        li:nth-child(1) a {
            color: $c2;
            span {
                color: $c4;
            }
        }
        li:nth-child(1):hover a,
        li:nth-child(1):focus a,
        li:nth-child(1):hover a span,
        li:nth-child(1):focus a span {
            color: $c1;
        }
        li:nth-child(1):hover svg,
        li:nth-child(1):focus svg{
            color: $c4;
        }
        li:nth-child(2) a {
            color: $c3;
            @media only Screen and (max-width: 1199px) {
                color: $c2;
            }
        }
        li a {
            color: $c3;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $c4;
            }
        }
    }
}

#header {
    padding-bottom: calc(10% + 300px);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 20%;
        left: 20vw;
        background-color: $c1;
        background-image: url(../images/div.png);
        background-repeat: repeat-y;
        background-position: 93% 100%;
        z-index: -1;
        @media only Screen and (max-width: 1199px) {
            left: 60vw;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 108px;
        right: 0;
        bottom: 0;
        left: calc(20vw - 150px);
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        z-index: 0;
        @media only Screen and (max-width: 1199px) {
            top: 70px;
            left: calc(60vw - 101px);
            background-size: 180px;
        }
    }
    svg {
        position: absolute;
        top: calc(17% + 300px);
        right: 8vw;
        height: 100px;
        width: 100px;
        @media only Screen and (max-width: 1199px) {
            height: 60px;
            width: 60px;
        }
    }
    img {
        width: 632px;
        height: 100%;
        margin-top: 356px;
        margin-left: 10vw;
        border-radius: 2px;
        border: 1px solid rgba($c3, 0.5);
        @media only Screen and (max-width: 1199px) {
            width: 66vw;
            margin-top: 215px;
        }
        @media only Screen and (max-width: 575px) {
            width: 88vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 185px;
        }
    }
    p {
        position: absolute;
        width: 632px;
        top: 556px;
        left: 13vw;
        font-weight: 100;
        box-shadow: -2px 2px 8px;
        background-color: $c3;
        border-radius: 2px;
        border: 1px solid rgba($c3, 0.5);
        @media only Screen and (max-width: 1199px) {
            width: 66vw;
            top: calc(20vw + 215px);
        }
        @media only Screen and (max-width: 575px) {
            font-size: smaller;
            width: 91vw;
            left: 3vw;
            top: calc(28vw + 185px);
        }
    }
}
