@import "variables";

/* css */

body {
    margin: 0;
    font-family: Poppins;
}

#header {
    padding-bottom: calc(10% + 300px);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 20%;
        left: 20vw;
        background-color: $c1;
        background-image: url(../images/div.png);
        background-repeat: repeat-y;
        background-position: 93% 100%;
        z-index: -1;
        @media only Screen and (max-width: 1199px) {
            left: 60vw;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 108px;
        right: 0;
        bottom: 0;
        left: calc(20vw - 150px);
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        z-index: 0;
        @media only Screen and (max-width: 1199px) {
            top: 70px;
            left: calc(60vw - 101px);
            background-size: 180px;
        }
    }
    svg {
        position: absolute;
        top: calc(15% + 300px);
        right: 8vw;
        height: 100px;
        width: 100px;
        @media only Screen and (max-width: 1199px) {
            height: 66px;
            width: 66px;
        }
    }
    img {
        width: 632px;
        height: 100%;
        margin-top: 356px;
        margin-left: 10vw;
        border-radius: 2px;
        border: 1px solid rgba($c3,0.5);
        @media only Screen and (max-width: 1199px) {
            width: 66vw;
            margin-top: 215px;
        }
        @media only Screen and (max-width: 575px) {
            width: 88vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 185px;
        }
    }  
    p {
        position: absolute;
        width: 632px;
        top: 556px;
        left: 13vw;
        font-weight: 100;
        box-shadow: -2px 2px 8px;
        background-color: $c3;
        border-radius: 2px;
        border: 1px solid rgba($c3,0.5);
        @media only Screen and (max-width: 1199px) {
            width: 66vw;
            top: calc(20vw + 215px);
        }
        @media only Screen and (max-width: 575px) {
            font-size: smaller;
            width: 91vw;
            left: 3vw;
            top: calc(28vw + 185px);
        }
    }
}

