html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 auto;
    font-family: $font;
    max-width: 1920px;
}

#skip {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: $c8;
}

.hidden {
    width: 0px;
    height: 0px;
    overflow: hidden;
}


// scrollbar

.os-theme-body {
    --os-size: 4px;
    @include min_md {
        --os-size: 7px;
    }
}

.os-theme-body .os-scrollbar-handle {
    background: $c4;
    border-radius: 0px;
    height: 85px;
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}
