main section:nth-child(5) {
    h2 {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-image: url(../images/plus.webp);
            background-repeat: space;
            background-size: auto;
            top: 0;
            right: 100%;
            bottom: calc(100% - 30px);
            width: calc(34% - 1rem);
            @include min_md {
                top: 50%;
                right: unset;
                bottom: -400%;
                left: -34%;
                width: 90px;
            }
        }
    }
    div:nth-child(1) {
        background-color: $c1;
        border-bottom: 2px solid $c1;
        @include min_md {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top: 4px solid $c1;
            border-bottom: 4px solid $c1;
            border-left: 4px solid $c1;
        }
        div {
            position: relative;
            background-color: $c4;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 33%;
                background-color: $c1;
            }
        }
        img {
            height: 100%;
        }
    }
    p {
        color: $c6;
        svg {
            display: block;
            margin: 10% auto;
            color: $c1;
            font-size: 30px;
        }
    }
}