#silder-6 {
    h2 {
        color: $c2;
    }
    p {
        color: $c6;
    }
    button {
        background-color: transparent;
        border: none;
        color: $c1;
        transition: color 0.2s;
        &:hover,
        &:focus {
            color: $c4;
        }
        &:disabled {
            color: $c7;
        }
    }
    .slider_6-action-container {
        border-top: 2px solid $c1;
        @include min_md {
            position: relative;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top: 4px solid $c1;
            border-right: 4px solid $c1;
            border-bottom: 4px solid $c1;
            border-left: none;
            position: relative;
        }
        .slider_6-strip {
            position: relative;
            background-color: $c1;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 66%;
                background-color: $c4;
            }
        }
        img {
            height: initial;
        }
        aside {
            margin: 0;
            padding: 2.5%;
            color: $c3;
            background-color: $c1;
            @include min_sm {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            @include min_md {
                font-size: clamp(10px, 1.75vw, 16px);
                position: absolute;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 5px;
                top: 6%;
                right: 3%;
                bottom: 6%;
                left: 28%;
                width: initial;
                opacity: 0;
                will-change: opacity;
                &.has-animation {
                   opacity: 1;
                }
                &::before {
                    position: absolute;
                    content: "";
                    top: 7.5%;
                    right: 4%;
                    bottom: 50%;
                    width: 2px;
                    background-color: $c3;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 60%;
                    right: 4%;
                    bottom: 7.5%;
                    width: 2px;
                    background-color: $c3;
                }
            }
            @include min_xl {
                font-size: clamp(16px, 1.25vw, 22px);
            }
            h3 i {
                font-size: 12px;
                vertical-align: top;
                margin-left: 12px;
                vertical-align: middle;
                @include min_md {
                    font-size: 17px;
                }
            }
            p {
                color: $c9;
                border-bottom: 1px solid $c3;
                padding-bottom: 1%;
                @include min_sm {
                    width: 67.5%;
                }
                @include min_md {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
             
            }
        }
    }
}
