#three-col-card {
    p {
        color: $c6;
        span {
            color: $c1;
        }
    }
    div div {
        background-color: $c1;
        padding: 8% 1rem 1rem 1rem;
        h3 {
            color: $c3;
            font-size: large;
        }
        p {
            color: $c5;
            font-size: medium;
            @include min_md {
                min-height: 120px;
            }
        }
        button {
            border: none;
            background-color: transparent;
            color: $c3;
            transition: color 0.2s;
            i { 
                vertical-align: middle;
                font-size: inherit;
                padding: 0;
                transition: transform 0.2s;
                transform: translateX(0);
            }
            &:hover,
            &:focus {
                color: $c4;
                i {
                    color: $c4;
                    transform: translateX(25%);
                }
            }
        }
        i {
            color: $c3;
            font-size: 3rem;
            padding-bottom: 3rem;
        }
    }
}