footer {
    background-color: $c8;
    color: $c3;
    a {
        display: block;
        text-decoration: none;
        transition: color 0.2s;
        color: inherit;
        &:hover,
        &:focus {
            color: $c4;
        }
    }
    ul {
        list-style-type: none;
      
    }
}
