nav {
    background-color: $c1;
    @media only Screen and (min-width: 576px) {
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        z-index: 999;
        background-color: unset;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: self-end;
        flex-wrap: wrap;
        li {
            width: 50%;
            text-align: left;
            padding: 2%;
            color: $c3;
            @media only Screen and (min-width: 576px) {
                text-align: center;
                padding: 0;
                width: 33%;
            }
            @media only Screen and (min-width: 1400px) {
                width: 37.5%;
            }
            a {
                text-decoration: none;

                color: $c3;
                @media only Screen and (min-width: 576px) {
                    color: inherit;
                }
                &:hover,
                &:focus {
                    color: $c4;
                }
            }
            &:nth-child(1) {
                color: $c2;
                font-size: smaller;
                padding-left: 2%;
                h1 {
                    font-size: inherit;
                }
                svg {
                    color: $c4;
                }
                span {
                    color: $c4;
                    @media only Screen and (min-width: 576px) {
                        color: $c1;
                    }
                }
            }
            &:nth-child(1) a:hover,
            &:nth-child(1) a:focus {
                color: $c3;
                @media only Screen and (min-width: 576px) {
                    color: unset;
                }
            }
            &:nth-child(2) {
                color: $c2;
            }
            &:nth-child(3) {
                color: $c2;
                @media only Screen and (min-width: 1400px) {
                    color: $c3;
                }
            }
            &:nth-child(1),
            &:nth-child(2) {
                width: 50%;
                @media only Screen and (min-width: 576px) {
                    width: 17%;
                }
                @media only Screen and (min-width: 1400px) {
                    width: 12.5%;
                }
            }
        }
    }
}

#header {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 60%;
        background-color: $c1;
        background-image: url(../images/div.png);
        background-repeat: repeat-y;
        background-position: 95% 75%;
        z-index: -1;
        @media only Screen and (min-width: 576px) {
            left: 67%;
        }
        @media only Screen and (min-width: 1400px) {
            left: 25%;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 50px;
        right: 0;
        bottom: 0;
        left: calc(60% - 85px);
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        z-index: 0;
        background-size: 150px;
        @media only Screen and (min-width: 576px) {
            top: 90px;
            left: calc(67% - 85px);
        }
        @media only Screen and (min-width: 1400px) {
            left: calc(25% - 150px);
            top: 108px;
            background-size: auto;
        }
    }
    svg {
        position: absolute;
        right: 6%;
        bottom: 6%;
        width: 7.5%;
        height: 13%;
        min-width: 60px;
        min-height: 60px;
    }
    img {
        width: 100%;
        margin: auto;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top: 1px solid $c5;
        border-right: 1px solid $c5;
        border-left: 1px solid $c5;
        @media only Screen and (min-width: 576px) {
            border-bottom-left-radius: 2px;
            border-bottom: 1px solid $c5;
         
        }
    }
    .carousel {
        padding-bottom: 130px;
        margin: 185px 5% auto 5%;
        @media only Screen and (min-width: 576px) {
            width: 55%;
            margin: 215px auto auto 25%;
        }
        @media only Screen and (min-width: 1400px) {
          
            margin: 356px auto auto 10%;
        }
        .carousel-inner {
            overflow: visible;
        }
    }
    p {
        font-weight: 900;
        box-shadow: -2px 2px 0px;
        background-color: $c3;
        @media only Screen and (min-width: 576px) {
            border-radius: 2px;
            border: 1px solid $c5;
            position: absolute;
            z-index: 999;
            top: 88%;
            right: -6%;
            bottom: -12%;
            left: 6%;
            margin: 0;
        }
        button {
            font-size: smaller;
            background-color: $c4;
            color: $c3;
            transition: background-color 1s;
            border: none;
            &:hover,
            &:focus {
                background-color: $c2;
                color: $c4;
            }
        }
    }
}
