main {
    section:nth-child(1) {
        p {
            color: $c6;
        }
        img {
            width: 48%;
            height: 100%;
        }
    }
    section:nth-child(2) {
        position: relative;
        color: $c3;
        h2 {
            font-size: larger;
        }
        span {
            display: inline-block;
            width: 97%;
            margin-bottom: 6%;
            @media only Screen and (min-width: 768px) {
                margin-left: 4%;
                margin-bottom: 10%;
                width: 28%;
            }
            @media only Screen and (min-width: 1400px) {
                width: 20%;
                margin-left: 8%;
            }
            img {
                border-top-right-radius: 2px;
                border-top-left-radius: 2px;
                border-top: 1px solid $c5;
                border-left: 1px solid $c5;
                border-right: 1px solid $c5;
                width: 100%;
                height: 100%;
                @media only Screen and (min-width: 768px) {
                    border-bottom: 1px solid $c5;
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
                @media only Screen and (min-width: 1400px) {
                    object-position: center;
                    object-fit: cover;
                    height: 400px;
                }
            }
            a {
                transition: background-color 1s;
                background-color: $c3;
                text-decoration: none;
                color: $c2;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                text-align: left;
                padding: 4%;
                display: flex;
                flex-direction: column;

                @media only Screen and (min-width: 768px) {
                    box-shadow: 2px 2px 2px $c2;
                    border-top-right-radius: 2px;
                    border-top-left-radius: 2px;
                    position: relative;
                    bottom: 35px;
                    right: 8%;
                }
                &:hover,
                &:focus {
                    background-color: $c2;
                    color: $c4;
                }
                &:hover span,
                &:focus span {
                    background-color: $c2;
                    color: $c3;
                }
                span {
                    transition: background-color 1s;
                    background-color: $c3;
                    margin: 0;
                    width: unset;
                    color: $c6;
                }
                svg {
                    width: 15px;
                    height: 15px;
                    align-self: flex-end;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $c1;
            background-image: url(../images/div.webp);
            background-repeat: repeat-y;
            background-position: 2.5% 75%;
            z-index: -1;
            @media only Screen and (min-width: 768px) {
                right: 10%;
            }
            @media only Screen and (min-width: 1400px) {
                right: 25%;
            }
        }
    }
    section:nth-child(3) {
        p {
            color: $c6;
            span {
                color: $c1;
            }
        }
        div div {
            background-color: $c1;
            padding: 8% 1rem 1rem 1rem;
            h3 {
                color: $c3;
                font-size: large;
            }
            p {
                color: $c5;
                font-size: medium;
            }
            button {
                border: none;
                background-color: transparent;
                color: $c3;
                svg {
                    vertical-align: middle;
                    font-size: inherit;
                    padding: 0;
                }
                &:hover,
                &:focus {
                    color: $c4;
                    svg {
                        color: $c4;
                    }
                }
            }
            svg {
                color: $c3;
                font-size: 3rem;
                padding-bottom: 3rem;
            }
        }
    }
    section:nth-child(4) {
        h2 {
            color: $c2;
        }
        p {
            color: $c6;
        }
        button {
            background-color: transparent;
            border: none;
            color: $c1;
            &:hover,
            &:focus {
                color: $c4;
            }
            &:disabled {
                color: $c7;
            }
        }
        div:nth-child(3) {
            border-top: 2px solid $c1;
            @media only Screen and (min-width: 768px) {
                position: relative;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: 4px solid $c1;
                border-right: 4px solid $c1;
                border-bottom: 4px solid $c1;
                border-left: none;
            }
            div:nth-child(1) {
                background-color: $c1;
                div:nth-child(1) {
                    position: relative;
                    background-color: $c1;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 66%;
                        background-color: $c4;
                    }
                }
                img {
                    height: 100%;
                }
            }
            aside {
                margin: 0;
                padding: 2.5%;
                color: $c3;
                background-color: $c1;
                @media only Screen and (min-width: 576px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                @media only Screen and (min-width: 768px) {
                    flex-direction: column;
                    position: absolute;
                    align-items: unset;
                    border-radius: 5px;
                    top: 2.5%;
                    right: 2.5%;
                    bottom: 2.5%;
                    left: 27.5%;
                    opacity: 0;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-image: url(../images/div.webp);
                        background-repeat: repeat-y;
                        background-position: 95% 75%;
                    }
                }
                p {
                    color: $c5;
                    border-bottom: 1px solid $c3;
                    padding-bottom: 1%;
                    @media only Screen and (min-width: 576px) {
                        width: 70%;
                    }
                    @media only Screen and (min-width: 768px) {
                        width: 100%;
                        max-width: 350px;
                    }
                }
            }
        }
    }
    section:nth-child(5) {
        div:nth-child(1) {
            background-color: $c1;
            @media only Screen and (min-width: 768px) {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top: 4px solid $c1;
                border-bottom: 4px solid $c1;
                border-left: 4px solid $c1;
            }
            div {
                position: relative;
                background-color: $c4;
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 33%;
                    background-color: $c1;
                }
            }
            img {
                height: 100%;
            }
        }
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        top: 2.5%;
        right: 2.5%;
        bottom: 2.5%;
        left: 27.5%;
    }
    to {
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 30%;
        opacity: 1;
    }
}
@keyframes slideout {
    from {
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 30%;
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 2.5%;
        right: 2.5%;
        bottom: 2.5%;
        left: 27.5%;
    }
}
#buttonone.animation,
#buttontwo.animation,
#buttonthree.animation,
#buttonfour.animation {
    animation: slidein 1s;
    animation-fill-mode: forwards;
}
#buttonone.animationout,
#buttontwo.animationout,
#buttonthree.animationout,
#buttonfour.animationout {
    animation: slideout 1s;
}
