main {
    section:nth-child(1) {
        p {
            color: $c6;
        }
        img {
            width: 48%;
            height: 100%;
        }
    }
    section:nth-child(2) {
        position: relative;
        color: $c3;
        h2 {
            font-size: larger;
        }
        span {
            display: inline-block;
            width: 97%;
            margin-bottom: 6%;
            @media only Screen and (min-width: 768px) {
                margin-left: 4%;
                margin-bottom: 10%;
                width: 28%;
            }
            @media only Screen and (min-width: 1400px) {
                width: 20%;
                margin-left: 8%;
            }
            img {
                border-top-right-radius: 2px;
                border-top-left-radius: 2px;
                border-top: 1px solid $c5;
                border-left: 1px solid $c5;
                border-right: 1px solid $c5;
                width: 100%;
                height: 100%;
                @media only Screen and (min-width: 768px) {
                    border-bottom: 1px solid $c5;
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
                @media only Screen and (min-width: 1400px) {
                    object-position: center;
                    object-fit: cover;
                    height: 400px;
                }
            }
            a {
                transition: background-color 0.2s;
                background-color: $c3;
                text-decoration: none;
                color: $c2;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                text-align: left;
                padding: 4%;
                display: flex;
                flex-direction: column;
                @media only Screen and (min-width: 768px) {
                    box-shadow: 2px 2px 2px $c2;
                    border-top-right-radius: 2px;
                    border-top-left-radius: 2px;
                    position: relative;
                    bottom: 35px;
                    right: 8%;
                }
                &:hover,
                &:focus {
                    background-color: $c2;
                    color: $c4;
                }
                &:hover span,
                &:focus span {
                    background-color: $c2;
                    color: $c3;
                }
                span {
                    transition: background-color 0.2s;
                    background-color: $c3;
                    margin: 0;
                    width: unset;
                    color: $c6;
                }
                svg {
                    width: 15px;
                    height: 15px;
                    align-self: flex-end;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $c1;
            background-image: url(../images/div.webp);
            background-repeat: repeat-y;
            background-position: 2.5% 75%;
            z-index: -1;
            @media only Screen and (min-width: 768px) {
                right: 10%;
            }
            @media only Screen and (min-width: 1400px) {
                right: 25%;
            }
        }
    }
    section:nth-child(3) {
        p {
            color: $c6;
            span {
                color: $c1;
            }
        }
        div div {
            background-color: $c1;
            padding: 8% 1rem 1rem 1rem;
            h3 {
                color: $c3;
                font-size: large;
            }
            p {
                color: $c5;
                font-size: medium;
                @media only Screen and (min-width: 768px) {
                    min-height: 120px;
                }
            }
            button {
                border: none;
                background-color: transparent;
                color: $c3;
                svg {
                    vertical-align: middle;
                    font-size: inherit;
                    padding: 0;
                }
                &:hover,
                &:focus {
                    color: $c4;
                    svg {
                        color: $c4;
                    }
                }
            }
            svg {
                color: $c3;
                font-size: 3rem;
                padding-bottom: 3rem;
            }
        }
    }
    section:nth-child(4) {
        h2 {
            color: $c2;
        }
        p {
            color: $c6;
        }
        button {
            background-color: transparent;
            border: none;
            color: $c1;
            &:hover,
            &:focus {
                color: $c4;
            }
            &:disabled {
                color: $c7;
            }
        }
        div:nth-child(3) {
            border-top: 2px solid $c1;
            @media only Screen and (min-width: 768px) {
                position: relative;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: 4px solid $c1;
                border-right: 4px solid $c1;
                border-bottom: 4px solid $c1;
                border-left: none;
            }
            div:nth-child(1) {
                background-color: $c1;
                div:nth-child(1) {
                    position: relative;
                    background-color: $c1;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 66%;
                        background-color: $c4;
                    }
                }
                img {
                    height: 100%;
                }
            }
            aside.aside {
                margin: 0;
                padding: 2.5%;
                color: $c3;
                background-color: $c1;
                opacity: 1;
                @media only Screen and (min-width: 576px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                @media only Screen and (min-width: 768px) {
                    flex-direction: column;
                    position: absolute;
                    align-items: unset;
                    border-radius: 5px;
                    top: 2.5%;
                    right: 2.5%;
                    bottom: 2.5%;
                    left: 27.5%;
                    opacity: 0;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-image: url(../images/div.webp);
                        background-repeat: repeat-y;
                        background-position: 95% 75%;
                    }
                }
                h3 svg {
                    font-size: 12px;
                    vertical-align: top;
                    margin-left: 12px;
                    vertical-align: middle;
                    @media only Screen and (min-width: 768px) {
                        font-size: 17px;
                    }
                }
                p {
                    color: $c5;
                    border-bottom: 1px solid $c3;
                    padding-bottom: 1%;
                    @media only Screen and (min-width: 576px) {
                        width: 67.5%;
                    }
                    @media only Screen and (min-width: 768px) {
                        width: 100%;
                        max-width: 350px;
                    }
                }
            }
            @keyframes slidein {
                from {
                    opacity: 0;
                    top: 2.5%;
                    right: 2.5%;
                    bottom: 2.5%;
                    left: 27.5%;
                }
                to {
                    top: 5%;
                    right: 5%;
                    bottom: 5%;
                    left: 30%;
                    opacity: 1;
                }
            }
            @keyframes slideout {
                from {
                    top: 5%;
                    right: 5%;
                    bottom: 5%;
                    left: 30%;
                    opacity: 1;
                }
                to {
                    opacity: 0;
                    top: 2.5%;
                    right: 2.5%;
                    bottom: 2.5%;
                    left: 27.5%;
                }
            }
            .animation {
                animation: slidein 1s;
                animation-fill-mode: forwards;
            }
            .animationout {
                animation: slideout 1s;
            }    
        }
    }
    section:nth-child(5) {
        h2 {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background-image: url(../images/plus.webp);
                background-repeat: space;
                background-size: auto;
                top: 0;
                right: 100%;
                bottom: calc(100% - 30px);
                width: calc(34% - 1rem);
                @media only Screen and (min-width: 768px) {
                    top: 50%;
                    right: unset;
                    bottom: -400%;
                    left: -34%;
                    width: 90px;
                }
            }
        }
        div:nth-child(1) {
            background-color: $c1;
            border-bottom: 2px solid $c1;
            @media only Screen and (min-width: 768px) {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top: 4px solid $c1;
                border-bottom: 4px solid $c1;
                border-left: 4px solid $c1;
            }
            div {
                position: relative;
                background-color: $c4;
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 33%;
                    background-color: $c1;
                }
            }
            img {
                height: 100%;
            }
        }
        p {
            color: $c6;
            svg {
                display: block;
                margin: 10% auto;
                color: $c1;
                font-size: 30px;
            }
        }
    }
    div:nth-child(6) {
        position: relative;
        color: $c3;
        background-image: url(../images/sitting.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 2px;
        z-index: 999;
        margin: 3rem 0;
        @media only Screen and (min-width: 768px) {
            margin: 10rem 2.5rem 15rem 2.5rem;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            border-radius: 2px;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, $c1, rgba($c1, 0.85), transparent);
            z-index: -1;
            @media only Screen and (min-width: 992px) {
                left: 40%;
                background-image: linear-gradient(to left, $c1, $c1, $c1, $c1, rgba($c1, 0.5), transparent);
            }
        }
        p {
            color: $c5;
        }
        button {
            width: fit-content;
            border-radius: 2px;
            padding: 2.5% 5%;
            background-color: $c4;
            color: $c3;
            transition: background-color 0.2s;
            border: none;
            &:hover,
            &:focus {
                background-color: $c2;
                color: $c4;
            }
        }
    }
    section:nth-child(7) {
        position: relative;
        margin-bottom: 6rem;
        @media only Screen and (min-width: 768px) {
            margin-bottom: unset;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 20%;
                background-color: $c1;
                z-index: -2;
            }
            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url(../images/div.webp);
                background-repeat: repeat-y;
                background-position: 97.5% 75%;
                z-index: -1;
            }
        }
        svg {
            float: right;
            font-size: 25px;
            color: $c1;
            width: 25px;
            @media only Screen and (min-width: 768px) {
                color: $c3;
                margin-right: 5%;
            }
        }
        h2 {
            color: $c2;
            @media only Screen and (min-width: 768px) {
                color: $c3;
            }
        }
        p:nth-child(3) {
            color: $c6;
            @media only Screen and (min-width: 768px) {
                color: $c3;
            }
        }
        div:nth-child(4) {
            background-image: url(../images/client-mobile.webp);
            background-size: cover;
            background-position: center bottom;
            background-repeat: no-repeat;
            width: 100%;
            padding-top: 30%;
            border: 1px solid $c1;
            border-radius: 2px;
            @media only Screen and (min-width: 576px) {
                width: 80%;
                margin: auto;
            }
            @media only Screen and (min-width: 768px) {
                margin: unset;
                background-image: url(../images/client.webp);
                height: unset;
                position: absolute;
                padding-top: unset;
                width: 20%;
                top: -10%;
                padding: 14.7% 0;
                left: 10%;
                border: 4px solid $c4;
            }
            p {
                border-radius: 2px;
                padding: 4%;
                background-color: $c1;
                color: $c3;
                border-top: 1px solid $c3;
                @media only Screen and (min-width: 768px) {
                    border-radius: 2px;
                    border-top: unset;
                    background-color: $c3;
                    color: $c2;
                    position: absolute;
                    top: 91%;
                    right: -10%;
                    bottom: -40px;
                    left: 10%;
                    box-shadow: 2px 2px 2px $c2;
                }
                span {
                    display: block;
                    color: $c5;
                    @media only Screen and (min-width: 768px) {
                        color: $c6;
                    }
                }
            }
        }
    }
    section:nth-child(8) {
        position: relative;
        border: 2px solid $c1;
        border-radius: 2px;
        margin-bottom: 6rem;
        @media only Screen and (min-width: 768px) {
            margin-bottom: 3rem;
            border: none;
        }
        &::after {
            position: absolute;
            content: "";
            background-image: url(../images/plus.webp);
            background-repeat: space;
            background-size: auto;
            top: -45px;
            right: 0;
            bottom: calc(100% + 15px);
            left: 75%;
            z-index: 999;
            @media only Screen and (min-width: 768px) {
                top: 25%;
                right: 5%;
                bottom: 25%;
                left: unset;
                width: 5%;
            }
        }
        > div {
            position: relative;
            background-color: $c1;
            @media only Screen and (min-width: 1400px) {
                margin-left: 7.25%;
             
            }
            div p {
                color: $c5;
            }
            div h3 {
                color: $c3;
            }
            > p {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: $c3;
                @media only Screen and (min-width: 768px) {
                    border-radius: 2px;
                    border: 2px solid $c1;
                    width: 320px;
                    position: absolute;
                    top: calc(50% - 48px);
                    left: 75%;
                }
                span {
                    color: inherit;
                    span {
                        color: $c6;
                        display: block;
                    }
                }
                button {
                    border-radius: 2px;
                    padding: 2.5% 5%;
                    background-color: $c4;
                    color: $c3;
                    transition: background-color 0.2s;
                    border: none;
                    &:hover,
                    &:focus {
                        background-color: $c2;
                        color: $c4;
                    }
                }
            }
        }
    }
}
