main {
    section:nth-child(1) {
        p {
            color: $c6;
        }
        img {
            width: 45%;
        }
    }
    section:nth-child(2) {
        position: relative;
        color: $c3;
        h2 {
            font-size: larger;
            font-weight: 900;
        }
        span {
            display: inline-block;
            width: 75%;
            @media only Screen and (min-width: 768px) {
                margin-left: 5vw;
                width: 25%;
            }
            @media only Screen and (min-width: 1400px) {
                width: 20%;
                margin-left: 7.5vw;
            }
            img {
                border-radius: 2px;
                border: 1px solid $c5;
                width: 100%;
                @media only Screen and (min-width: 1400px) {
                    object-position: center;
                    object-fit: cover;
                    height: 450px;
                }
            }
            p {
                background-color: $c4;
                color: $c3;
                border-radius: 2px;
                border: 1px solid $c5;
                font-weight: 900;
                width: 66%;
                height: 5vh;
                display: flex;
                align-items: center;
                position: relative;
                bottom: 2.5vh;
                right: 3vh;
                justify-content: center;
            }
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 25vw;
            bottom: 0;
            left: 0;
            background-color: $c1;
            background-image: url(../images/div.png);
            background-repeat: repeat-y;
            background-position: 3% 75%;
            z-index: -1;
            @media only Screen and (max-width: 1399px) {
                right: 10vw;
            }
            @media only Screen and (max-width: 767px) {
                right: 0;
            }
        }
    }
}
